customtkinter
mss
pyautogui
SpeechRecognition
pyaudio
easyocr
opencv-python
numpy
keyboard
faster-whisper
onnxruntime-directml
torch
torch-directml
einops
transformers==4.44.2
accelerate
bitsandbytes
timm
