# Core Framework
numpy
pydantic
psutil
requests
pillow

# UI & Display
customtkinter
mss
pyautogui

# AI Engines
faster-whisper
llama-cpp-python
outlines
transformers>=4.44.2
accelerate
timm
einops
torch

# Windows Automation
pywinauto
pygetwindow
keyboard
pyaudio

# Optional / Specific Performance
webrtcvad
onnxruntime-directml
torch-directml

# Web Automation
playwright
